.navbar-navbar {
  width: 100%;
  display: flex;
  z-index: 100;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: #151515;
}
.navbar-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.navbar-branding {
  gap: var(--dl-space-space-halfunit);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbar-navlink {
  display: contents;
}
.navbar-logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
.navbar-logo:hover {
  transform: rotate(360deg);
}
.navbar-company {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
}
.navbar-items {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbar-links {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbar-link {
  text-decoration: none;
}
.navbar-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.navbar-button {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  padding-top: 20px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 20px;
  background-color: #235536;
}
.navbar-image {
  width: 100px;
  display: none;
  object-fit: cover;
}
.navbar-text1 {
  color: #ffffff;
  display: flex;
}
.navbar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #151515;
}
.navbar-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-branding1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbar-logo1 {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.navbar-company1 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
}
.navbar-menu-close {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-icon {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.navbar-items1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-links1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-link1 {
  text-decoration: none;
}
.navbar-link2 {
  text-decoration: none;
}















@media(max-width: 991px) {
  .navbar-navbar-interactive {
    padding-top: var(--dl-space-space-unit);
  }
  .navbar-link {
    display: none;
  }
  .navbar-button {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .navbar-image {
    width: 18px;
    height: 18px;
    display: flex;
  }
  .navbar-text1 {
    display: none;
  }
}
@media(max-width: 767px) {
  .navbar-navbar-interactive {
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .navbar-logo {
    width: 36px;
    height: 36px;
  }
  .navbar-company {
    font-size: 18px;
    line-height: 20px;
  }
  .navbar-items {
    display: none;
  }
  .navbar-burger-menu {
    display: flex;
  }
  .navbar-button {
    padding: 12px;
  }
  .navbar-image {
    width: 14px;
    height: 14px;
  }
}
@media(max-width: 479px) {
  .navbar-mobile-menu {
    padding: 16px;
  }
  .navbar-text2 {
    display: none;
  }
}

.about-me-description {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1280px;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: #151515;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: 120px;
  justify-content: flex-end;
  background-color: var(--dl-color-gray-white);
  border-top-width: 1px;
}
.about-me-content {
  gap: var(--dl-space-space-threeunits);
  width: 820px;
  display: flex;
  max-width: 900px;
  align-self: center;
  align-items: flex-start;
}
.about-me-text {
  gap: var(--dl-space-space-threeunits);
  width: 815px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-me-paragraph {
  font-size: 32px;
  line-height: 48px;
}
.about-me-image {
  width: 261px;
  height: 353px;
  align-self: center;
  object-fit: cover;
}
@media(max-width: 991px) {
  .about-me-description {
    margin-top: var(--dl-space-space-threeunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .about-me-content {
    width: auto;
    max-width: 900;
    align-self: flex-start;
  }
  .about-me-text {
    gap: var(--dl-space-space-unit);
  }
  .about-me-paragraph {
    font-size: 18px;
    line-height: 27px;
  }
}
@media(max-width: 767px) {
  .about-me-description {
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-start;
  }
  .about-me-content {
    width: auto;
  }
  .about-me-text {
    width: auto;
  }
  .about-me-paragraph {
    width: auto;
  }
}
@media(max-width: 479px) {
  .about-me-description {
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.project-items-item {
  position: relative;
  transition: 0.3s;
}
.project-items-item:hover {
  background-color: rgba(0, 155, 237, 0.13);
}
.project-items-details {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.project-items-image {
  width: 60px;
  height: auto;
  object-fit: cover;
}
.project-items-text {
  color: #ffffff;
  width: 190px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}
.project-items-text1 {
  color: rgb(153, 153, 153);
  font-size: 24px;
  line-height: 36px;
}
.project-items-icon {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  transition: 0.3s;
}
.project-items-icon:hover {
  fill: #009bed;
}
@media(max-width: 991px) {
  .project-items-item {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-unit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-unit);
    justify-content: space-between;
  }
  .project-items-details {
    gap: var(--dl-space-space-halfunit);
    align-items: flex-start;
    flex-direction: column;
  }
  .project-items-text {
    font-size: 16px;
    line-height: 24px;
  }
  .project-items-text1 {
    font-size: 14px;
    line-height: 21px;
  }
  .project-items-icon {
    width: 12px;
    height: 12px;
  }
}

.recomendation-client {
  gap: var(--dl-space-space-threeunits);
  width: 450px;
  display: flex;
  position: relative;
  border-color: #ffffff;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  border-bottom-width: 1px;
}
.recomendation-text {
  color: #ffffff;
  font-size: 22px;
  line-height: 36px;
}
.recomendation-author {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
.recomendation-details {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.recomendation-text1 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.recomendation-text2 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 30px;
}








@media(max-width: 991px) {
  .recomendation-client {
    gap: var(--dl-space-space-unit);
    width: 100%;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .recomendation-text {
    font-size: 16px;
    line-height: 24px;
  }
  .recomendation-author {
    gap: var(--dl-space-space-unit);
  }
  .recomendation-text1 {
    font-size: 16px;
    line-height: 24px;
  }
  .recomendation-text2 {
    font-size: 16px;
    line-height: 24px;
  }
  .recomendation-root-class-name {
    width: 100%;
  }
  .recomendation-root-class-name2 {
    width: 100%;
  }
  .recomendation-root-class-name4 {
    width: 100%;
  }
  .recomendation-root-class-name6 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .recomendation-root-class-name1 {
    width: 100%;
  }
  .recomendation-root-class-name3 {
    width: 100%;
  }
  .recomendation-root-class-name5 {
    width: 100%;
  }
  .recomendation-root-class-name7 {
    width: 100%;
  }
}

.footer-footer {
  width: 100%;
  height: var(--dl-size-size-medium);
  display: flex;
  position: relative;
  justify-content: center;
  background-color: #000000;
}
.footer-information {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-social-bar {
  flex: 1;
  display: flex;
  align-self: center;
}
.footer-link {
  display: contents;
}
.footer-container {
  width: 50px;
  height: 50px;
  margin: 6px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url("public/whiteicon-200h.png");
  background-position: center;
}
.footer-container:hover {
  background-image: url("public/blueicon-200h.png");
}
.footer-image {
  width: 60%;
  height: 60%;
  object-fit: cover;
}
.footer-link1 {
  display: contents;
}
.footer-container1 {
  width: 50px;
  height: 50px;
  margin: 6px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url("public/whiteicon-200h.png");
  background-position: center;
}
.footer-container1:hover {
  background-image: url("public/blueicon-200h.png");
}
.footer-image1 {
  width: 60%;
  height: 60%;
  object-fit: cover;
}
.footer-link2 {
  display: contents;
}
.footer-container2 {
  width: 50px;
  height: 50px;
  margin: 6px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url("public/whiteicon-200h.png");
  background-position: center;
}
.footer-container2:hover {
  background-image: url("public/blueicon-200h.png");
}
.footer-image2 {
  width: 60%;
  height: 60%;
  object-fit: cover;
}
.footer-link3 {
  display: contents;
}
.footer-container3 {
  width: 50px;
  height: 50px;
  margin: 6px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url("public/whiteicon-200h.png");
  background-position: center;
}
.footer-container3:hover {
  background-image: url("public/blueicon-200h.png");
}
.footer-image3 {
  width: 60%;
  height: 60%;
  object-fit: cover;
}
@media(max-width: 991px) {
  .footer-footer {
    flex-direction: column;
  }
  .footer-information {
    gap: var(--dl-space-space-threeunits);
    align-items: flex-start;
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .footer-social-bar {
    align-self: center;
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .footer-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .footer-social-bar {
    align-self: center;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: center;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-about {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-color: #151515;
}
.home-header {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: 150px;
}
.home-title {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 50px;
  max-width: 895px;
  align-self: center;
  text-align: center;
  font-weight: normal;
}
.home-image {
  width: 100%;
  cursor: pointer;
  height: 190px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-projects {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  background-color: #151515;
}
.home-projects1 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: flex-start;
  flex-direction: column;
}
.home-header1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #ffffff;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  border-bottom-width: 1px;
}
.home-title1 {
  color: rgb(255, 255, 255);
}
.home-pasted-image {
  width: 100%;
  height: 316px;
}
.home-row {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-text02 {
  color: rgb(153, 153, 153);
  font-size: 24px;
  line-height: 36px;
}
.home-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
}
.home-row1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-text05 {
  color: rgb(153, 153, 153);
  font-size: 24px;
  line-height: 36px;
}
.home-list1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
}
.home-row2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-text06 {
  color: rgb(153, 153, 153);
  font-size: 24px;
  line-height: 36px;
}
.home-list2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
}
.home-row3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-text07 {
  color: rgb(153, 153, 153);
  font-size: 24px;
  line-height: 36px;
}
.home-list3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
}
.home-row4 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-text08 {
  color: rgb(153, 153, 153);
  font-size: 24px;
  line-height: 36px;
}
.home-list4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
}
.home-row5 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-text09 {
  color: rgb(153, 153, 153);
  font-size: 24px;
  line-height: 36px;
}
.home-list5 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
}
.home-row6 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-text10 {
  color: rgb(153, 153, 153);
  font-size: 24px;
  line-height: 36px;
}
.home-list6 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-component08 {
  text-decoration: none;
}
.home-component09 {
  text-decoration: none;
}
.home-component10 {
  text-decoration: none;
}
.home-row7 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-text11 {
  color: rgb(153, 153, 153);
  font-size: 24px;
  line-height: 36px;
}
.home-list7 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-component11 {
  text-decoration: none;
}
.home-component12 {
  text-decoration: none;
}
.home-row8 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-text14 {
  color: rgb(153, 153, 153);
  font-size: 24px;
  line-height: 36px;
}
.home-list8 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-navlink {
  display: contents;
}
.home-component13 {
  text-decoration: none;
}
.home-testimonials {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  background-color: #151515;
}
.home-recomendations {
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: 120px;
}
.home-header2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #ffffff;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  border-bottom-width: 1px;
}
.home-title2 {
  color: rgb(255, 255, 255);
}
.home-grid {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: row;
}
.home-column {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  flex-direction: column;
}
.home-column1 {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  flex-direction: column;
}
.home-contact {
  width: 100%;
  display: none;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-color: #151515;
}
.home-header3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #ffffff;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  border-bottom-width: 1px;
}
.home-title3 {
  color: rgb(255, 255, 255);
}
.home-forum {
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-self: center;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: #151515;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  border-top-width: 1px;
}
.home-form {
  width: auto;
  height: auto;
  display: flex;
}
.home-container1 {
  flex: 0 0 auto;
  width: 352px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text22 {
  color: #ffffff;
  padding-top: 2px;
  padding-bottom: 2px;
}
.home-text23 {
  color: rgb(255, 255, 255);
  padding-top: 2px;
  padding-bottom: 2px;
}
.home-text24 {
  color: rgb(255, 255, 255);
  padding-top: 2px;
  padding-bottom: 2px;
}
.home-textarea {
  width: 339px;
  height: 158px;
}
.home-button {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: rgb(0, 155, 237);
}
.home-text25 {
  color: #ffffff;
}
@media(max-width: 991px) {
  .home-header {
    height: 100%;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
  }
  .home-title {
    font-size: 40px;
    line-height: 36px;
  }
  .home-projects {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-projects1 {
    gap: var(--dl-space-space-threeunits);
  }
  .home-header1 {
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-row {
    flex-direction: column;
  }
  .home-text02 {
    font-size: 10px;
    line-height: 15px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-list {
    width: 100%;
  }
  .home-row1 {
    flex-direction: column;
  }
  .home-text05 {
    font-size: 10px;
    line-height: 15px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-list1 {
    width: 100%;
  }
  .home-row2 {
    flex-direction: column;
  }
  .home-text06 {
    font-size: 10px;
    line-height: 15px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-list2 {
    width: 100%;
  }
  .home-row3 {
    flex-direction: column;
  }
  .home-text07 {
    font-size: 10px;
    line-height: 15px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-list3 {
    width: 100%;
  }
  .home-row4 {
    flex-direction: column;
  }
  .home-text08 {
    font-size: 10px;
    line-height: 15px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-list4 {
    width: 100%;
  }
  .home-row5 {
    flex-direction: column;
  }
  .home-text09 {
    font-size: 10px;
    line-height: 15px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-list5 {
    width: 100%;
  }
  .home-row6 {
    flex-direction: column;
  }
  .home-text10 {
    font-size: 10px;
    line-height: 15px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-list6 {
    width: 100%;
  }
  .home-row7 {
    flex-direction: column;
  }
  .home-text11 {
    font-size: 10px;
    line-height: 15px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text12 {
    font-size: 10px;
    line-height: 15px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-list7 {
    width: 100%;
  }
  .home-row8 {
    flex-direction: column;
  }
  .home-text14 {
    font-size: 10px;
    line-height: 15px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text15 {
    font-size: 10px;
    line-height: 15px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-list8 {
    width: 100%;
  }
  .home-testimonials {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-recomendations {
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-header2 {
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-grid {
    grid-gap: var(--dl-space-space-oneandhalfunits);
    padding-top: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-column {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-column1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-contact {
    display: none;
  }
  .home-header3 {
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-forum {
    margin-top: var(--dl-space-space-threeunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
}
@media(max-width: 767px) {
  .home-header {
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-pasted-image {
    width: auto;
    height: 296px;
    align-self: center;
  }
  .home-contact {
    display: none;
  }
}
@media(max-width: 479px) {
  .home-pasted-image {
    height: 191px;
  }
  .home-contact {
    display: none;
  }
}
