.footer-footer {
  width: 100%;
  height: var(--dl-size-size-medium);
  display: flex;
  position: relative;
  justify-content: center;
  background-color: #000000;
}
.footer-information {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-social-bar {
  flex: 1;
  display: flex;
  align-self: center;
}
.footer-link {
  display: contents;
}
.footer-container {
  width: 50px;
  height: 50px;
  margin: 6px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: 35eec4c7-a8ee-441a-8af8-cdb32aa7dea1;
  background-position: center;
}
.footer-container:hover {
  background-image: url("public/blueicon-200h.png");
}
.footer-image {
  width: 60%;
  height: 60%;
  object-fit: cover;
}
.footer-link1 {
  display: contents;
}
.footer-container1 {
  width: 50px;
  height: 50px;
  margin: 6px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url("public/whiteicon-200h.png");
  background-position: center;
}
.footer-container1:hover {
  background-image: url("public/blueicon-200h.png");
}
.footer-image1 {
  width: 60%;
  height: 60%;
  object-fit: cover;
}
.footer-link2 {
  display: contents;
}
.footer-container2 {
  width: 50px;
  height: 50px;
  margin: 6px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url("public/whiteicon-200h.png");
  background-position: center;
}
.footer-container2:hover {
  background-image: url("public/blueicon-200h.png");
}
.footer-image2 {
  width: 60%;
  height: 60%;
  object-fit: cover;
}
.footer-link3 {
  display: contents;
}
.footer-container3 {
  width: 50px;
  height: 50px;
  margin: 6px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url("public/whiteicon-200h.png");
  background-position: center;
}
.footer-container3:hover {
  background-image: url("public/blueicon-200h.png");
}
.footer-image3 {
  width: 60%;
  height: 60%;
  object-fit: cover;
}
@media(max-width: 991px) {
  .footer-footer {
    flex-direction: column;
  }
  .footer-information {
    gap: var(--dl-space-space-threeunits);
    align-items: flex-start;
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .footer-social-bar {
    align-self: center;
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .footer-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .footer-social-bar {
    align-self: center;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: center;
  }
}
